*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
        scroll-behavior: smooth;
        scroll-padding-top: 2rem;
}

:root{
    --container-color: #1a1e21;
    --second-color: rgb(255, 149, 0);
    --text-color: #172317;
    --bg-color: #fff;
    --other-color: #fee858; 

}
::selection{
    color: var(--bg-color);
    background: var(--second-color);
}

a{
    text-decoration: none;

}
li{
    list-style: none;
}

img{
    width: 100%;
}

section{
    padding: 3rem 0 2rem;
}

.container{
max-width: 1068px;
margin: 5px 18px;
width: 100%;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color);
}
.logo span{
    color: var(--second-color);
}
.services{
    padding: 10px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 3px;
    background: var(--second-color);
    color: var(--bg-color);
    margin-right: -300px;
   
}

.services:hover{
    background: hsl(24, 100%, 75%);
    transform: .3s;

}

.home{
    width: 100%;
    min-height: 440px;
    background: var(--container-color);
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-text{
    color: var(--bg-color);
    text-align: center;

}

.home-title{
    font-size: 3.5rem;
}

.home-subtitle{
    font-size: 1rem;
    font-weight: 400;
}

.post-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;

}
.filter-items{
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}
.active-filter{
    background: var(--second-color);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 4px;
}